/.settings/
/.project
/.classpath
/.factorypath
/.idea
.idea/workspace.xml
*/.settings/
*/.project
*/.classpath
*/.factorypath
*/.gitignore
*/target/
**/node_modules/
**/bower_components/
**/npm-debug.log
**/data/
**/typings/
**/app/**/*.module.js
**/app/**/*.model.js
**/app/**/*.service.js
**/app/**/*.component.js
**/*.js.map
**/app/**/*.extensions.js
**/app/rxjs-extensions.js
**/app/**/*.spec.js
**/app/main.js
.project
**/.springBeans